.ui-combox {
	display: table;
	display: -moz-box;
	background: #eeeeee;
	border: 1px solid #d2d9de;
	width: auto;
	font-family: Arial, sans-serif;
	border-radius: 3px;
}

.ui-combox-input,
.ui-combox-select {
	display: table-cell;
	display: -moz-box;
	border: none;
	background: transparent;
	padding: 0 8px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.ui-combox>div {
	border-right: 1px solid #d2d9de;
}

.ui-combox>div:last-child {
	border-right: none;
}

.ui-combox-select {
	position: relative;
	cursor: pointer;
}

.ui-combox .ui-combox-pointer {
	position: absolute;
	border-left: 1px solid #d2d9de;
	right: 0;
	top: 2px;
	width: 20px;
	background:transparent url(../img/arrow-down.png) 50% 50% no-repeat;
	background-position-x: 50%;
	background-position-y: 50%;
}

.ui-combox input {
	line-height: normal;
}

	.ui-combox input:focus {
		background: transparent;
	}

.ui-combox input,
.ui-combox select {
	margin: 0;
	padding: 0;
	font-family: inherit;
	font-size: 100%;
	border: none;
	outline: none;
	height: 26px;
	line-height: 26px;
	background: transparent;
	-webkit-appearance: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.ui-combox .ui-combox-select ul{
	position: absolute;
	z-index: 1000;
	display: none;
	padding: 0;
	margin: 2px 0 0;
	list-style: none;
	border: 1px solid #d2d9de;
	background-color: #ffffff;
	background-clip: padding-box;
}

.ui-combox .ui-combox-select li {
	line-height: 26px;
	padding: 0 8px;
}

.ui-combox .ui-combox-select li:hover{
	background-color: #eeeeee;
}